
body {
	background-color: #EBEFF9;
  font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    /* height: 100vh;
    width: 100vw; */
}
h1 {
  font-size: 40px;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  font-size: 500;
}
.sidebar, .back {
    background: #fff;
    border-radius: 20px;
    color: #788AA3;
}
.back {
  text-align: right;
}
.wrap_table {
    background: #fff;
    border-radius: 20px;
    color: #A0AEC3;
    padding: 10px;
    font-weight: 400;
    width: 100%;
}

.wrap_table .table, .wrap_table .table tr, .wrap_table .table th, .wrap_table .table thead {
  border: none;
}
.wrap_table .table thead {

    font-weight: 800;
}
.text-center {
  text-align: center;
}
@media screen and (max-width: 700px) {

  }
